:root {
  --veryDarkGrayishBlue: hsl(217, 19%, 35%);
  --desaturatedDarkBlue: hsl(214, 17%, 51%);
  --grayishBlue: hsl(212, 23%, 69%);
  --lightGrayishBlue: hsl(210, 46%, 95%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.filter-white {
  filter: invert(1) brightness(500%) sepia(1%) saturate(10000%);
}

body {
  font-size: 0.8125rem;
  font-family: "Manrope", sans-serif;
  background-color: var(--lightGrayishBlue);
}

.card {
  width: 20.5rem;
  height: 33.6rem;
  background-color: white;
  margin: auto;
  border-radius: 0.5rem;
  margin-top: 8rem;
}
.card-content {
  position: relative;
}
.card .card-content #head-img {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  position: absolute;
  clip: rect(0px, 330px, 220px, 0px);
}

.wrapper {
  width: 100%;
  margin: auto;
  padding-top: 13.85rem;
}
.card .card-content .wrapper main h1 {
  padding-top: 2rem;
  font-size: 1rem;
  padding: 2rem 2rem 0 2rem;
}
.card .card-content .wrapper main p {
  font-size: 0.84rem;
  line-height: 1.4rem;
  margin-bottom: 1.5rem;
  padding: 1rem 2rem 0.45rem 2rem;
}
.card .card-content #footer-avatar {
  width: 2.5rem;
  border-radius: 50%;
}
footer {
  padding-top: 0.5rem;
  padding: 0rem 2rem 2rem 2rem;
}
.wrap-footer {
  display: flex;
  width: 18.6rem;
}

footer .wrap-footer .social-div {
  padding: 0.38rem 0.5rem 0.1rem 0.5rem;
  padding-left: 0.5rem;

  background-color: var(--lightGrayishBlue);
  border-radius: 50%;
  height: 1.8rem;
  width: 1.8rem;
  align-self: center;
  margin-left: 4.21rem;
}

footer .wrap-footer .social-div:hover {
  cursor: pointer;
}

.card .card-content footer .wrap-footer-text {
  padding-left: 1rem;
  align-self: center;
}
.card .card-content footer .wrap-footer-text p {
  padding-bottom: 0.2rem;
}
.card .card-content footer .wrap-footer-text p:nth-child(1) {
  font-weight: 700;
  font-size: 0.8rem;
}
.card .card-content footer .wrap-footer-text p:nth-child(2) {
  color: var(--grayishBlue);
  font-size: 0.8rem;
}

/* --------------- active state footer ------------------------- */

.wrap-footer-active {
  display: flex;
  background-color: var(--veryDarkGrayishBlue);
  margin: auto;
  padding: 1rem 2rem 1rem 2rem;
  border-bottom-left-radius: 0.5rem;
}

.show {
  display: flex;
}
.hide {
  display: none;
}

.wrap-footer-active .social-links-active {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
.wrap-footer-active .social-links-active img {
  padding-left: 1rem;
}

.wrap-footer-active .social-links-active p {
  color: white;
  letter-spacing: 0.3rem;
}

.wrap-footer-active .social-div-active {
  background-color: var(--desaturatedDarkBlue);
  cursor: pointer;
  padding: 0.38rem 0.5rem 0.1rem 0.5rem;
  border-radius: 50%;
  height: 1.8rem;
  width: 1.8rem;
  align-self: center;
}

footer .wrap-footer-active .social-div:hover {
  cursor: pointer;
}
.popover-content {
  display: none;
}
.attribution a { 
  color: rgb(195, 6, 212) ;  
         
}
.attribution p {
    margin-top: 3rem;
    color: black;
  text-align: center;
  font-size: 1rem;
}
/* ------------------------------------- MEDIA ----------------------------------- */

@media only screen and (min-width: 760px) {
  .card {
    width: 45rem;
    height: 17.5rem;
    background-color: white;
    margin: auto;
    border-radius: 0.5rem;
    margin-top: 8rem;
  }

  figure {
    width: 50%;
    height: 100%;
  }
  .card .card-content {
    width: 50%;
    display: flex;
  }
  .card .card-content #head-img {
    height: 17.5rem;
    width: 21.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    position: absolute;
    clip: rect(0px, 283px, 285px, 0px);
  }
  .wrapper {
    width: 100%;
    margin: auto;
    padding-top: 0rem;
    margin-left: 18.5rem;
  }

  .card .card-content .wrapper main h1 {
    width: 26rem;
    padding-top: 2rem;
    font-size: 1.2rem;
    padding: 1.86rem 2rem 0.25rem 2rem;
  }
  .card .card-content .wrapper main p {
    width: 26rem;
    font-size: 0.8rem;
    line-height: 1.4rem;
    margin-bottom: 1.3rem;
    padding: 0.6rem 2rem 0rem 2rem;
  }
  .card .card-content #footer-avatar {
    width: 2.5rem;
    border-radius: 50%;
  }
  .wrap-footer {
    padding-top: 0rem;
  }
  .wrap-footer p {
    width: 12.3rem;
  }
  .popover-wrapper {
    position: relative;
  }
  .popover-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -42px;
    bottom: 51px;
    display: flex;
    background-color: var(--veryDarkGrayishBlue);
    padding: 1rem 1.8rem 0.8rem 1.8rem;
    align-items: center;
    border-radius: 0.5rem;
  }
  .popover-content::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 110px;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: var(--veryDarkGrayishBlue) transparent;
  }

  .popover-content img {
    padding-left: 1rem;
  }
  .popover-content p {
    width: 4.8rem;
    color: var(--grayishBlue);
    letter-spacing: 0.3rem;
  }

  .show-pop {
    visibility: visible;
    opacity: 1;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  footer .wrap-footer .social-div {
    padding: 0.38rem 0.5rem 0.1rem 0.5rem;
    padding-left: 0.5rem;

    background-color: var(--veryDarkGrayishBlue);
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
    align-self: center;
    margin-left: 4.21rem;
  }
}
